/*
 * Once upon a time...
 */

:root {
  --birthDate: 1428px;
  --deathDate: 1476px;
  --background: #fff;
}

body {
  background: #000;

  > #container {
    text-align: left;
    margin: 0 auto;
    width: 500px;
  }

  @media (min-width: 1234px) {
    background: var(--background);
  }
}

/* ...there was a guy named Vlad */

#dracula {
  opacity: 0;
  display: none;
  visibility: hidden;
  font-family: Transylvania, "Times New Roman", sans-serif, monospace;
  height: calc(var(--deathDate) - var(--birthDate));
}
#dracula:before,
#dracula:after {
  content: "This is a test";
}

.cape {
  background: #ff0000 !important;
}

@font-face {
  font-family: "Transylvania";
  src: url("/location/Transylvania.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

div[role="main"] {
  color: rgba(0, 0, 255, 0.5);
  cursor: pointer;
  margin-bottom: 25px;
  background: linear-gradient(#e66465, #9198e5);

  @include background-image(
    linear-gradient(lighten($color1, 30%), lighten($color2, 30%))
  );

  @include border-radius($border-radius * 3.5, $border-radius * 3.5);

  border: 3px solid $color2;
  padding: $border-radius;

  li {
    color: $fontcolor1;
    margin-bottom: 12px;
    cursor: pointer;
  }
}

button {
  @include buttons();
}

@mixin buttons($basicBorder: 1px, $gradient1: #fff, $gradient2: #d8dee7) {
  button {
    border: $basicBorder solid #acbed3;
    @include background-image(linear-gradient($gradient1, $gradient2));
    padding: 3px 14px;
    @include border-radius($border-radius, $border-radius);

    &.primary {
      @include border-radius($border-radius + 2, $border-radius + 2);
    }
    & > .disabled {
      opacity: 0.8;
    }
    &:hover span {
      @include background-image(linear-gradient($gradient2, $gradient1));
    }
  }
}
